<div class="row">
  <div class="col-md-6">
    <h3>Monday 10th February</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell - I</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell - II </a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python - I</a></td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python - II</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday 11th February</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python - III</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python - IV</a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Version Control with Git - I</td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>Version Control with Git - II</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
